<div>
    <div mat-dialog-title class="text-center text-danger">
        <div class="d-flex align-items-center justify-content-center">
            <div class="">Sandbox Mode</div>
        </div>
    </div>
    <div mat-dialog-content class="container-b">
        <p class="greeting">Bula Vinaka</p>
        <p class="text">
            Sandbox Mode is an isolated training
            environment that enables you to experience
            the new FNPF Employer Portal. Changes
            made in sandbox mode will not have any
            effect on your real FNPF Employer Portal
            application.
        </p>
    </div>
    <div mat-dialog-actions class="d-flex align-items-center justify-content-center">
        <button mat-raised-button color="accent" (click)="doClose()">I Understand</button>
    </div>
    <div class="pt-4"></div>
</div>