$setHeight1: 30px;

@-webkit-keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 255px;
        opacity: 1;
    }
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 255px;
        opacity: 1;
    }
}
@-webkit-keyframes collapse-in {
    from {
        max-height: 255px;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

@keyframes collapse-in {
    from {
        max-height: 255px;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
    }
}

@-webkit-keyframes expand-header {
    from {
        min-height: $setHeight1;
        background: var(--danger);
    }

    to {
        min-height: $setHeight1;
        background: #e8dcdf;
    }
}

@keyframes expand-header {
    from {
        min-height: $setHeight1;
        background: var(--danger);
    }

    to {
        min-height: $setHeight1;
        background: #e8dcdf;
    }
}

@-webkit-keyframes collapse-header {
    from {
        min-height: $setHeight1;
    }

    to {
        min-height: $setHeight1;
    }
}

@keyframes collapse-header {
    from {
        min-height: $setHeight1;
    }

    to {
        min-height: $setHeight1;
    }
}
@-webkit-keyframes strink-button {
    from {
        opacity: 1;
        margin-top: '5px';
    }

    to {
        opacity: 0;
        margin-top: '0';
    }
}

@keyframes strink-button {
    from {
        opacity: 1;
        margin-top: '5px';
    }

    to {
        opacity: 0;
        margin-top: '0';
    }
}

.flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.3s;

    animation-name: flash-animation;
    animation-duration: 0.3s;
}

@-webkit-keyframes flash-animation {  
    from { background: var(--danger); }
    to   { background: #e8dcdf; }
}

@keyframes flash-animation {  
    from { background: var(--danger); }
    to   { background: #e8dcdf; }
}




.pointer{
    cursor: pointer;
}

.msg-portal-box {
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;

    .message-body {
        // flex: 1;
        // padding: 0 2rem;
        background-color: #f2f2f3;
        position: relative;
        z-index: 1;
        overflow: auto;
        // max-height: 0;
        // transition: all 0.5s ease;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: expand;
        animation-name: expand;

        &.closing {
            -webkit-animation-name: collapse-in;
            animation-name: collapse-in;
        }

        .message-box {
            padding: 0 2rem;
        }

    }

    .message-header {
        width: 100%;
        min-height: $setHeight1;
        padding: 0 2rem;
        line-height: $setHeight1;
        height: $setHeight1;
        // background-color: white;
        background-color: #e8dcdf;
        display: flex;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        z-index: 2;
        // expand-header animation
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: expand-header;
        animation-name: expand-header;
        position: relative;

        .bg-toolbar{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index: 1;
        }

        &.closing {
            -webkit-animation-name: collapse-header;
            animation-name: collapse-header;
        }
        .title-1 {
            color: var(--secondary);
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 0;
            line-height: $setHeight1;
            z-index: 2;
        }

        .error-title,
        .warning-title,
        .information-title {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 0;
            line-height: $setHeight1;
            height: $setHeight1;
            padding-left: 3rem;
            padding-right: 1rem;
            opacity: 0.8;
            position: relative;
            cursor: pointer;
            color: #555555;
            z-index: 2;

            &:hover,
            &:focus,
            &:active {
                outline: 0;
                background-color: transparent;
            }

            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--danger);
                position: absolute;
                left: 1.7rem;
                top: 50%;
                transform: translateY(-70%);


            }
        }

        .warning-title {
            &:before {
                background-color: var(--warning);
            }
        }

        .information-title {
            &:before {
                background-color: var(--info);
            }
        }

        .mat-icon-button {
            width: $setHeight1 !important;
            height: $setHeight1 !important;
            line-height: $setHeight1 !important;
            // margin-top: 5px;
            z-index: 2;

            ion-icon {
                width: 18px !important;
                height: 18px !important;
            }
            &.closing {
                -webkit-animation-name: strink-button;
                animation-name: strink-button;
            }
        }
    }

    .error-message, .warning-message, .info-message {
        list-style: none;
        padding: 0;

        li {
            padding: 0.5rem 1rem;
            font-size: 13px;
            color: var(--danger);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    .warning-message{
        li{
            color: var(--warning);
        }
    }
    .info-message{
        li{
            color: var(--info);
        }
    }
}


.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//   animate__fadeIn



// .animate__fadeIn {
//     -webkit-animation-name: fadeIn;
//     animation-name: fadeIn;
// }