.w60 {
  width: 80%;
}
.perc {
  font-size: 10px;
  color: #212121;
}
// ::ng-deep .firstname {
//   .form-group {
//     margin-bottom: 0px !important;
//   }
// }
.clr {
  font-size: 8px;
  color: #007197;
}
.sec-clr {
  font-size: 8px;
  color: var(--danger);
}
