<div class="content-body" [parentId]="pageId" appAccess="BINVS">
    <div class="rel">
        <div class="d-flex z-2">
            <div class="mr-auto d-flex align-items-center">
                <h6 class="mb-0">Bulk Invoice Search</h6>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <button mat-raised-button color="accent" [parentId]="pageId" appAccess="BTNUploadBulkInvoiceSearch
                " class="mr-3" (click)="onNew()">
                    Upload
                </button>
                <div class="search-box-d">
                    <button mat-raised-button color="accent" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
                        (click)="isOpen = !isOpen" [parentId]="pageId" appAccess="BTNFilterBTNUploadBulkInvoiceSearch">
                        <ion-icon name="funnel-outline"></ion-icon>
                        Filter
                    </button>
                </div>
            </div>
        </div>
        <div class="ab pt35">
            <div class="rel">
                <div class="table-responsive h100">
                    <div class="ab pb40">
                        <div class="rel">
                            <table mat-table [dataSource]="dataSource" class="table-hover pt-2" matSort
                                (matSortChange)="sortData($event)">
                                <ng-container matColumnDef="bulkInvoiceUploadId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Upload ID
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="hyperlink-td"
                                        (click)="onEdit(element)">
                                        {{element.bulkInvoiceUploadId}}
                                </ng-container>
                                <ng-container matColumnDef="uploadedDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded Date
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.uploadedDate| moment :
                                        'DD-MM-YYYY' :
                                        'DD MMM YYYY'}}
                                </ng-container>
                                <ng-container matColumnDef="countOfInvoices">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count Of Invoices
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.countOfInvoices}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                                    <td mat-cell *matCellDef="let element" class="text-center py-0 text-nowrap">
                                        <button mat-icon-button class="icon-only-btn" matTooltip="Edit"
                                            (click)="onEdit(element)">
                                            <ion-icon name="pencil-outline"></ion-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    [ngClass]="{'active': activeIndex == row}" (click)="active(row)"></tr>
                            </table>
                            <ng-container *ngIf="!loadingTrue && dataSource.data.length === 0">
                                <app-empty-state></app-empty-state>
                            </ng-container>
                        </div>
                    </div>
                    <div class="table-footer">
                        <mat-paginator [showFirstLastButtons]="!data.isMobile" [hideTotalCount]="data.isMobile"
                            [pageIndex]="pageIndex" [length]="searchParams.totalCount" showFirstLastButtons="true"
                            [pageSize]="searchParams.pageSize" [pageSizeOptions]="[10, 15,25, 50, 100]"
                            (page)="pageChanged($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
    cdkConnectedOverlayHasBackdrop="true" [cdkConnectedOverlayLockPosition]="trigger" (backdropClick)="isOpen = !isOpen"
    cdkConnectedOverlayBackdropClass="search-backdrop">
    <form>
        <div class="search-panel" style="height:200px !important;">
            <div class="ab">
                <div class="rel">
                    <div class="container-fluid pt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <app-date-control label="From Date" [(ngModel)]="searchParams.uploadedDatetimeFrom"
                                    name="uploadedDatetimeFrom">
                                </app-date-control>
                            </div>
                            <div class="col-md-6">
                                <app-date-control label="To Date" [(ngModel)]="searchParams.uploadedDatetimeTo"
                                    name="uploadedDatetimeTo">
                                </app-date-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-footer">
                <div class="ml-auto d-flex align-items-center">
                    <button mat-raised-button class="ml-3" color="accent" (click)="doSearch()" [parentId]="pageId"
                        appAccess="BTNApplyBulkInvoiceSearch">
                        <div class="d-flex align-items-center">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <div class="pl-2">Apply</div>
                        </div>
                    </button>
                    <button mat-button (click)="doClear()" [parentId]="pageId" appAccess="BTNClearBulkInvoiceSearch">
                        <div class="d-flex align-items-center">
                            <ion-icon name="close-circle-outline"></ion-icon>
                            <div class="pl-1">Clear</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>