<div class="adjust-margin">
    <form class="h100" #a="ngForm" (ngSubmit)="onsubmit(a)" autocomplete="off">
        <div class="dialogue-header z-2">
            <div>
                Edit Address
            </div>
            <div class="ml-auto d-flex align-items-center">
                <button mat-icon-button mat-dialog-close>
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </div>
        </div>
        <div class="ab pt50 pb50">
            <div class="rel">
                <div class="h100">
                    <div class="container-fluid p-3">
                        <!-- <div class="row">
                            <div class="col-xl-6">
                                <app-select-control label="Address Type"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.addressTypeValue"
                                    tabindex="10" name="addressTypeValue" [items]="service.DDL.HWLandType"
                                    key="constant" keyname="description" required [btnClicked]="btnClicked"
                                    [errorTrue]="errorTrue" mandatory="true">
                                </app-select-control>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-xl-6">
                                <app-input-control label="PO Box No"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.boxNo"
                                    tabindex="10" name="boxNo">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <app-input-control label="Post Office Name"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.postOfficeName"
                                    tabindex="10" name="postOfficeName">
                                </app-input-control>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-xl-6">
                                <app-input-control label="Address" placeholder="Line 1"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.line1"
                                    tabindex="10" name="line1" required [btnClicked]="btnClicked"
                                    [errorTrue]="errorTrue" mandatory="true">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <!-- <div class="input-label-space"></div> -->
                                <app-input-control placeholder="Line 2"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.line2"
                                    tabindex="10" name="line2">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <app-input-control placeholder="Line 3"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.line3"
                                    tabindex="10" name="line3">
                                </app-input-control>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <app-input-control label="Country"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.country"
                                    tabindex="10" name="country">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <app-input-control label="Province"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.province"
                                    tabindex="10" name="province">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <app-input-control label="Sub Division / Island"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.subDivision"
                                    tabindex="10" name="subDivision">
                                </app-input-control>
                            </div>
                            <div class="col-xl-6">
                                <app-input-control label="Location / City / Town"
                                    [(ngModel)]="service.ProtoHousingAssitanceApplication.pApplicant.pPostalAddress.cityTown"
                                    tabindex="10" name="cityTown">
                                </app-input-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialogue-footer z-2">
            <button mat-raised-button color="accent" class="ml-3" type="submit">
                Save
            </button>
        </div>
    </form>
</div>