.file-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto;
}
.shad {
    max-width: 200px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px; */
  }
.fs15{
    font-size: 15px;
}