<div class="vertical-flex h100">
    <div class="flex-1 relative">
        <div class="ab">
            <div class="rel">
                <div class="d-flex align-items-center justify-content-center h100">
                    <div class="text-center pb-3">
                        <img class="shad" src="assets/icons/icon-512x512.png" alt="">
                        <div class="file-spinner">
                            <app-spinner></app-spinner>
                        </div>
                        <div class="fs15 pt-1">
                            Please wait while we are authorizing you to access the portal.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
