<div class="content-body" [parentId]="pageId" appAccess="RSMNO">
    <div class="rel">
        <div class="ab bg-white">
            <form class="h100" #rm="ngForm" (ngSubmit)="onsubmit(rm)" autocomplete="off">
                <div class=" container-fluid reset-p-responsive">
                    <div class="row">
                        <div class="col-md-12 pb-3 heading">
                            CHANGE MOBILE NUMBER
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="" class="pb-1">Current Mobile No</label>
                                <div class="fw500"> {{resetmobileno.currentMobileNo}}
                                    <!-- <ng-container *ngIf="resetemail.currentMail !== ''">
                                        {{resetemail.currentMail}}
                                    </ng-container>
                                    <ng-container *ngIf="resetemail.currentMail === ''">
                                        -
                                    </ng-container> -->
                                </div>
                            </div>
                            <div class="col-md-7 px-0 pb-2">
                                <app-phone-control label="New Mobile No" tabindex="1"
                                    [(ngModel)]="resetmobileno.newMobileNo" placeholder="eg. 679-8888888"
                                    name="NewMobileNo" required [errorTrue]="errorTrue" [mandatory]="mandatory">
                                </app-phone-control>
                            </div>
                            <!-- <div class="col-md-7 px-0 pb-2">
                                <app-phone-control label="New Mobile No" tabindex="1">
                                </app-phone-control>
                            </div> -->
                            <div class="form-group pb-3">
                                <!-- <label class="pb-2">Your current mobile no and the username are same</label> -->
                                <div>
                                    <mat-radio-group [(ngModel)]="resetmobileno.makemobilenousmyusername"
                                        name="resetmyusername">
                                        <div>
                                            <mat-radio-button class="pb-2" value="Y">Reset my
                                                username to the new
                                                Mobile no </mat-radio-button>
                                        </div>

                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="pt-2">
                                <!-- *ngIf="resetemail.newMail !== '' && resetemail.resetmyusername !== '' || resetemail.donotResetmyusername !== ''" -->
                                <div class="heading">
                                    Transaction PIN
                                </div>
                                <app-pin-control alignLeft="true" id="tpre" boxes="4" tabindex="2"
                                    [(ngModel)]="resetmobileno.transactionPin" name="transactionPin" required
                                    [errorTrue]="errorTrue" mandatory="true" password="true" clearbtn="true">
                                </app-pin-control>
                                <p class="text-danger mt-15px"
                                    *ngIf="errorTrue && resetmobileno.transactionPin.length < 4">
                                    <small>Please Enter Transaction PIN</small>
                                </p>
                            </div>
                            <div class="pb-3 text-right" [parentId]="pageId" appAccess="BTNResetMobileNo">
                                <button mat-raised-button color="accent" type="submit">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="info-box">
                                <div class="info-container">
                                    <h3>Why is this required?</h3>
                                    <ul>
                                        <!-- <li>Lorem ipsum dolor sit amet, consectetur adipiscing elitscele risque varius Lorem
                                            ipsum
                                        </li> -->
                                        <li>Please enter a valid contact number</li>
                                        <li>This number will be used to validate your identity in future interactions
                                            with FNPF</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>