<div class="panel-spacer">
    <div class="mw1280">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">Reset Password</div>
            </div>
            <div class="panel-body">
                <div class="mw1170">
                    <div class="h100 bg-white">
                        <div class="stepper-container">
                            <div class="stepper-content">
                                <div class="panel-step">
                                    <form class="h100" #rp="ngForm" (ngSubmit)="onsubmit(rp)" autocomplete="off">
                                        <div class="container-fluid pt-4">
                                            <div class="row">
                                                <div class="col-xl-7">
                                                    <div class="row">
                                                        <div class="col-xl-7">
                                                            <app-password-control label="Current Password"
                                                                [(ngModel)]="resetpassword.currentPassword" tabindex="1"
                                                                name="currentPassword" required [errorTrue]="errorTrue"
                                                                [btnClicked]="btnClicked" name="currentPassword"
                                                                mandatory="true">
                                                            </app-password-control>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-7">
                                                            <app-password-control label="New Password"
                                                                [(ngModel)]="resetpassword.newPassword" tabindex="2"
                                                                strength="true" name="newPassword" required
                                                                [errorTrue]="errorTrue" [btnClicked]="btnClicked"
                                                                name="newPassword" #newPassword="ngModel"
                                                                mandatory="true"
                                                                [pattern]="data.pattern">
                                                            </app-password-control>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-7 pb-3">
                                                            <app-password-control label="Confirm Password"
                                                                [(ngModel)]="resetpassword.confirmPassword"
                                                                #confirmPassword="ngModel" tabindex="3"
                                                                name="confirmPassword" required [errorTrue]="errorTrue"
                                                                mandatory="true">
                                                            </app-password-control>
                                                            <p class="text-danger mt-15px" *ngIf="
                                  confirmPassword.dirty &&
                                  resetpassword.newPassword !==
                                    resetpassword.confirmPassword
                                ">
                                                                <small>Password Mismatch</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngIf="
                              resetpassword.newPassword ===
                                resetpassword.confirmPassword &&
                              resetpassword.newPassword !== ''
                            ">
                                                        <div class="col-xl-4 pl-0 ml-3">
                                                            <div class="heading">Enter Transaction PIN</div>
                                                            <app-pin-control boxes="4" id="tp" alignLeft="true"
                                                                [(ngModel)]="resetpassword.transactionPin"
                                                                name="transactionPin" required password="true"
                                                                clearbtn="true" [errorTrue]="errorTrue"
                                                                mandatory="true">
                                                            </app-pin-control>
                                                            <p class="text-danger mt-15px" *ngIf="
                                  errorTrue &&
                                  resetpassword.transactionPin.length < 4
                                ">
                                                                <small>Please Enter a Transaction PIN</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-7 text-right">
                                                            <button mat-raised-button color="accent" type="submit"
                                                                [disabled]="btnClicked">
                                                                <ng-container *ngIf="!btnClicked">
                                                                    Reset
                                                                </ng-container>
                                                                <ng-container *ngIf="btnClicked">
                                                                    <app-dot class="dot-big"></app-dot>
                                                                </ng-container>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-5">
                                                    <div class="info-box">
                                                        <div class="info-container">
                                                            <h3>Why is this required?</h3>
                                                            <ul>
                                                                <li>
                                                                    Your password is used with your User Name when
                                                                    logging in.
                                                                </li>
                                                                <li>
                                                                    Keep your password secret and safe. Do NOT
                                                                    share your password with anyone.
                                                                </li>
                                                                <li>
                                                                    Your Password must contain
                                                                    <ul>
                                                                        <li>At least 8 characters</li>
                                                                        <li>At least one capital letter</li>
                                                                        <li>At least one number</li>
                                                                        <li>
                                                                            At least one special character (e.g
                                                                            asterisk(*), Pound(#), Percentage(%) etc)
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>