<div class="content-body" [parentId]="pageId" appAccess="TIPSR">
    <div class="content-body">
        <div class="rel">
            <div class="d-flex z-2">
                <div class="mr-auto d-flex align-items-center">
                    <h6 class="mb-0">Time Payment Plan Search</h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <!-- <div class="search-box-d">
                        <button mat-raised-button color="accent" [parentId]="pageId"
                            appAccess="BTNFilterTimePaymentPlanSchedule" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
                            (click)="isOpen = !isOpen">
                            <ion-icon name="funnel-outline"></ion-icon>
                            Filter
                        </button> -->
                    <app-filter-button [searchPanelTemplate]="searchPanelTemplate" [parentId]="pageId"
                        appAccess="BTNFilterTimePaymentPlanSchedule">
                    </app-filter-button>
                    <ng-container *ngIf="!data.isMobile">
                        <button mat-raised-button color="accent" class="ml-3" (click)="newPaymentRequest()"
                            [parentId]="pageId" appAccess="BTNNewTimePaymentPlanSchedule">
                            <ion-icon name="add"></ion-icon>
                            New Payment Request
                        </button>
                    </ng-container>
                    <!-- </div> -->
                </div>
            </div>
            <div class="ab pt35">
                <div class="rel">
                    <div class="table-responsive h100">
                        <div class="ab pb40">
                            <div class="rel">
                                <table mat-table class="table-hover" [dataSource]="dataSource"
                                    *ngIf="dataSource.data.length > 0" matSort>
                                    <ng-container matColumnDef="timePaymentId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Plan ID </th>
                                        <td mat-cell *matCellDef="let element" class="hyperlink-td"
                                            (click)="onEdit(element)">
                                            {{element.timePaymentId}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="submissionDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Submission </th>
                                        <td mat-cell *matCellDef="let element"> {{element.submissionDate | moment :
                                            'DD-MM-YYYY' :
                                            'DD MMM YYYY'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="effectiveDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Effective Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.effectiveDate | moment :
                                            'DD-MM-YYYY' :
                                            'DD MMM YYYY'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="totalInvoiceAmount">
                                        <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> Total
                                            Payable Amount
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.totalInvoiceAmount | appCurrency}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="totalRecoveredAmt">
                                        <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> Total
                                            Paid Amount
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.totalRecoveredAmt | appCurrency}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="invoiceBalanceAmt">
                                        <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> Total
                                            Balance Amount
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.invoiceBalanceAmt | appCurrency}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="noOfInstallment">
                                        <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> Total
                                            Installments
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.noOfInstallment}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="monthlyInstallmentAmount">
                                        <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header>
                                            Monthly
                                            Installment Amount
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.monthlyInstallmentAmount | appCurrency}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="statusDescription">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.statusDescription}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="text-center" [parentId]="pageId"
                                            appAccess="BTNEditTimePaymentPlanSchedule"> Action </th>
                                        <td mat-cell *matCellDef="let element" class="text-center py-0 text-nowrap"
                                            [parentId]="pageId" appAccess="BTNEditTimePaymentPlanSchedule">
                                            <button mat-icon-button class="icon-only-btn" matTooltip="Edit"
                                                (click)="onEdit(element)" [parentId]="pageId"
                                                appAccess="BTNEditTimePaymentPlanSchedule">
                                                <ion-icon name="pencil-outline"></ion-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        [ngClass]="{'active': activeIndex == row}" (click)="active(row)"></tr>
                                </table>
                                <ng-container *ngIf="dataSource.data.length === 0">
                                    <app-empty-state></app-empty-state>
                                </ng-container>
                            </div>
                        </div>
                        <div class="table-footer">
                            <mat-paginator [showFirstLastButtons]="!data.isMobile" [hideTotalCount]="data.isMobile"
                                showFirstLastButtons="true" [pageSizeOptions]="[10, 25, 50, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
        cdkConnectedOverlayHasBackdrop="true" [cdkConnectedOverlayLockPosition]="trigger"
        (backdropClick)="isOpen = !isOpen" cdkConnectedOverlayBackdropClass="search-backdrop">
        <form>
            <div class="search-panel m-search">
                <div class="ab">
                    <div class="rel">
                        <div class="container-fluid pt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <app-input-control label="Time Payment Plan ID"
                                        [(ngModel)]="searchParams.timePaymentPlanId" tabindex="2"
                                        name="timePaymentPlanId">
                                    </app-input-control>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <app-date-control label="Submission From Date"
                                        [(ngModel)]="searchParams.submissionFromDate" tabindex="2"
                                        name="effectiveFromDate" [maxDate]="searchParams.effectiveToDate">
                                    </app-date-control>
                                </div>
                                <div class="col-md-6">
                                    <app-date-control label="Submission To Date"
                                        [(ngModel)]="searchParams.submissionToDate" tabindex="2" name="effectiveToDate"
                                        [minDate]="searchParams.effectiveFromDate">
                                    </app-date-control>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <app-date-control label="Effective From Date"
                                        [(ngModel)]="searchParams.effectiveFromDate" tabindex="2"
                                        name="submissionFromDate" [maxDate]="searchParams.submissionToDate">
                                    </app-date-control>
                                </div>
                                <div class="col-md-6">
                                    <app-date-control label="Effective To Date"
                                        [(ngModel)]="searchParams.effectiveToDate" tabindex="2" name="submissionToDate"
                                        [minDate]="searchParams.submissionFromDate">
                                    </app-date-control>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <app-select-control label="Time Payment Status"
                                        [(ngModel)]="searchParams.statusValue" tabindex="2" name="statusValue"
                                        [items]="service.DDL.DDLPaymentPlanStatusValue" key="constant"
                                        keyname="description">
                                    </app-select-control>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-footer">
                    <div class="ml-auto d-flex align-items-center">
                        <button [parentId]="pageId" appAccess="BTNSearchTimePaymentPlan" mat-raised-button class="ml-3"
                            color="accent" type="submit" (click)="doSearch()">
                            <div class="d-flex align-items-center">
                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                                <div class="pl-2">Apply</div>
                            </div>
                        </button>
                        <a mat-button [parentId]="pageId" appAccess="BTNClearTimePaymentPlanSearch" (click)="doClear()">
                            <div class="d-flex align-items-center">
                                <ion-icon name="close-circle-outline"></ion-icon>
                                <div class="pl-1">Clear</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </ng-template> -->


<ng-template #searchPanelTemplate>
    <form>
        <div class="search-panel m-search">
            <div class="ab">
                <div class="rel">
                    <div class="container-fluid pt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <app-input-control label="Time Payment Plan ID"
                                    [(ngModel)]="searchParams.timePaymentPlanId" tabindex="2" name="timePaymentPlanId">
                                </app-input-control>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-6">
                                <app-date-control label="Submission From Date"
                                    [(ngModel)]="searchParams.submissionFromDate" tabindex="2" name="effectiveFromDate"
                                    [maxDate]="searchParams.effectiveToDate">
                                </app-date-control>
                            </div>
                            <div class="col-md-6">
                                <app-date-control label="Submission To Date" [(ngModel)]="searchParams.submissionToDate"
                                    tabindex="2" name="effectiveToDate" [minDate]="searchParams.effectiveFromDate">
                                </app-date-control>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-6">
                                <app-date-control label="Effective From Date"
                                    [(ngModel)]="searchParams.effectiveFromDate" tabindex="2" name="submissionFromDate"
                                    [maxDate]="searchParams.submissionToDate">
                                </app-date-control>
                            </div>
                            <div class="col-md-6">
                                <app-date-control label="Effective To Date" [(ngModel)]="searchParams.effectiveToDate"
                                    tabindex="2" name="submissionToDate" [minDate]="searchParams.submissionFromDate">
                                </app-date-control>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-6">
                                <app-select-control label="Time Payment Status" [(ngModel)]="searchParams.statusValue"
                                    tabindex="2" name="statusValue" [items]="service.DDL.DDLPaymentPlanStatusValue"
                                    key="constant" keyname="description">
                                </app-select-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-footer">
                <div class="ml-auto d-flex align-items-center">
                    <button [parentId]="pageId" appAccess="BTNSearchTimePaymentPlan" mat-raised-button class="ml-3"
                        color="accent" type="submit" (click)="doSearch()">
                        <div class="d-flex align-items-center">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <div class="pl-2">Apply</div>
                        </div>
                    </button>
                    <a mat-button [parentId]="pageId" appAccess="BTNClearTimePaymentPlanSearch" (click)="doClear()">
                        <div class="d-flex align-items-center">
                            <ion-icon name="close-circle-outline"></ion-icon>
                            <div class="pl-1">Clear</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </form>
</ng-template>