.w-222 {
    width: 222px;
}

.pl-4p {
    padding-left: 4px;
}

.label-space {
    height: 14px;
    margin-bottom: 3.200px;
}

.h280 {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 372px);
}

.h200 {
    height: 200px;
    overflow: auto;
}

