.btn-sm {
    min-width: 34px;
    height: 34px;
    padding: 0;
    width: 34px;
    text-align: center;

    mat-icon {
        font-size: 14px;
        line-height: 1.5;
    }
}

.lh28 {
    line-height: 28px;
}