<div [parentId]="pageId" appAccess="VSUBC">
    <div class="content-body">
        <div class="rel">
            <div class="d-flex z-2">
                <div class="mr-auto d-flex align-items-center">
                    <h6 class="mb-0">Contribution Headers</h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <!-- <div class="search-box-d"> -->
                    <!-- <button mat-raised-button color="accent" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
                            (click)="isOpen = !isOpen" [parentId]="pageId"
                            appAccess="BTNFilterViewSubmittedContribution">
                            <ion-icon name="funnel-outline"></ion-icon>
                            Filter
                        </button> -->
                    <app-filter-button [searchPanelTemplate]="searchPanelTemplate" [parentId]="pageId"
                        appAccess="BTNFilterViewSubmittedContribution">
                    </app-filter-button>
                    <ng-container *ngIf="!data.isMobile">
                        <button mat-raised-button color="accent" class=" ml-3" (click)="newContribution()"
                            [parentId]="pageId" appAccess="BTNNewContributionSchedule">
                            <ion-icon name="add"></ion-icon>
                            New Contribution Schedule
                        </button>
                    </ng-container>
                    <ng-container *ngIf="data.isMobile">
                        <button mat-raised-button color="accent" class=" ml-3" (click)="newContribution()"
                            [parentId]="pageId" appAccess="BTNNewContributionSchedule">
                            <ion-icon name="add"></ion-icon>
                            New
                        </button>
                    </ng-container>
                    <!-- </div> -->
                </div>
            </div>
            <div class="ab pt35">
                <div class="rel">
                    <div class="table-responsive h100" *ngIf="!loadingTrue && dataSource.data.length > 0">
                        <div class="ab pb50">
                            <div class="rel">
                                <table mat-table [dataSource]="dataSource" class="table-hover" matSort>
                                    <ng-container matColumnDef="csHeaderId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CS Header ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.csHeaderId}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="csCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CS Code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.csCode}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="csMonthDescription">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CS Month
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.csMonthDescription}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="year">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CS Year
                                        </th>
                                        <td mat-cell *matCellDef="let element">{{element.year}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="wagesPaidMonthDescription">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wages
                                            Month </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.wagesPaidMonthDescription}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="wagesPaidYear">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wages Year
                                        </th>
                                        <td mat-cell *matCellDef="let element">{{element.wagesPaidYear}}
                                        </td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="wages">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right"> Total Wages Amount</th>
                                        <td mat-cell *matCellDef="let element" class="text-right">
                                            {{element.wages | appCurrency}} </td>
                                    </ng-container> -->
                                    <ng-container matColumnDef="receivedDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                                            Received Date </th>
                                        <td mat-cell *matCellDef="let element" class="text-center ">
                                            {{element.receivedDate| moment :
                                            'DD-MM-YYYY' :
                                            'DD MMM YYYY'}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="dueDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Due
                                            Date </th>
                                        <td mat-cell *matCellDef="let element" class="text-center text-nowrap">
                                            {{element.dueDate| moment :
                                            'DD-MM-YYYY' :
                                            'DD MMM YYYY'}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="totalContributionAmount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right"> Total
                                            CS Amount </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.totalContributionAmount | appCurrency}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="headerStatusDescription">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                                            Status </th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            {{element.headerStatusDescription}}</td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="empl">
                                        <th mat-header-cell *matHeaderCellDef> No of Employees </th>
                                        <td mat-cell *matCellDef="let element"> {{element.totalEmployee}} </td>
                                    </ng-container> -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="text-center " [parentId]="pageId"
                                            appAccess="BTNEditViewSubmittedContribution"> Action
                                        </th>
                                        <td mat-cell *matCellDef="let element" class="text-center py-0  text-nowrap"
                                            [parentId]="pageId" appAccess="BTNEditViewSubmittedContribution">
                                            <button mat-icon-button class="icon-only-btn" matTooltip="Edit"
                                                (click)="editContribution(element)" [parentId]="pageId"
                                                appAccess="BTNEditViewSubmittedContribution">
                                                <ion-icon name="pencil-outline"></ion-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        [ngClass]="{'active': activeIndex == row}" (click)="active(row)"></tr>
                                </table>
                            </div>
                            <!-- </div> -->
                            <div class="table-footer">
                                <mat-paginator [showFirstLastButtons]="!data.isMobile" [hideTotalCount]="data.isMobile"
                                    showFirstLastButtons="true" [pageSizeOptions]="[10, 25, 50, 100]">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="!loadingTrue && dataSource.data.length === 0 && showEmpty">
                        <app-empty-state></app-empty-state>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
    cdkConnectedOverlayHasBackdrop="true" [cdkConnectedOverlayLockPosition]="trigger" (backdropClick)="isOpen = !isOpen"
    cdkConnectedOverlayBackdropClass="search-backdrop">
    <form>
        <div class="search-panel">
            <div class="ab">
                <div class="rel">
                    <div class="container-fluid pt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <app-select-control label="CS Code" [(ngModel)]="searchParams.csCode" tabindex="1"
                                    [items]="service.DDL.DDLCSCodeValue" key="constant" keyname="description"
                                    name="csCode">
                                </app-select-control>
                            </div>
                            <div class="col-md-6">
                                <app-select-control label="CS Month" [(ngModel)]="searchParams.csMonth" tabindex="2"
                                    name="csMonth" [items]="service.DDL.DDLMonthValue" key="constant"
                                    keyname="description">
                                </app-select-control>
                            </div>
                            <div class="col-md-6">
                                <app-input-control label="CS Year" [(ngModel)]="searchParams.csYear" tabindex="3"
                                    name="csYear">
                                </app-input-control>
                            </div>
                            <div class="col-md-6">
                                <app-select-control label="Status" tabindex="4" name="Status"
                                    [items]="service.DDL.DDLCSHeaderStatusValue" key="constant" keyname="description"
                                    [(ngModel)]="searchParams.headerStatus">
                                </app-select-control>
                            </div>

                            <div class="col-md-6">
                                <app-date-control label="From Received Date" [(ngModel)]="searchParams.fromDate"
                                    tabindex="7" name="fromDate" [maxDate]="searchParams.toDate">
                                </app-date-control>
                            </div>
                            <div class="col-md-6">
                                <app-date-control label="To Received Date" [(ngModel)]="searchParams.toDate"
                                    tabindex="8" name="toDate" [minDate]="searchParams.fromDate">
                                </app-date-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-footer">
                <div class="ml-auto d-flex align-items-center">
                    <button mat-raised-button class="ml-3" color="accent" type="submit" (click)="doSearch()"
                        [parentId]="pageId" appAccess="BTNApplyViewSubmittedContribution">
                        <div class="d-flex align-items-center">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <div class="pl-2">Apply</div>
                        </div>
                    </button>
                    <button mat-button (click)="doClear()" [parentId]="pageId"
                        appAccess="BTNClearViewSubmittedContribution">
                        <div class="d-flex align-items-center">
                            <ion-icon name="close-circle-outline"></ion-icon>
                            <div class="pl-1">Clear</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template> -->

<ng-template #searchPanelTemplate>
    <form>
        <div class="search-panel">
            <div class="ab">
                <div class="rel">
                    <div class="container-fluid pt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <app-select-control label="CS Code" [(ngModel)]="searchParams.csCode" tabindex="1"
                                    [items]="service.DDL.DDLCSCodeValue" key="constant" keyname="description"
                                    name="csCode">
                                </app-select-control>
                            </div>
                            <div class="col-md-6">
                                <app-select-control label="CS Month" [(ngModel)]="searchParams.csMonth" tabindex="2"
                                    name="csMonth" [items]="service.DDL.DDLMonthValue" key="constant"
                                    keyname="description">
                                </app-select-control>
                            </div>
                            <div class="col-md-6">
                                <app-input-control label="CS Year" [(ngModel)]="searchParams.csYear" tabindex="3"
                                    name="csYear">
                                </app-input-control>
                            </div>
                            <div class="col-md-6">
                                <app-select-control label="Status" tabindex="4" name="Status"
                                    [items]="service.DDL.DDLCSHeaderStatusValue" key="constant" keyname="description"
                                    [(ngModel)]="searchParams.headerStatus">
                                </app-select-control>
                            </div>

                            <div class="col-md-6">
                                <app-date-control label="From Received Date" [(ngModel)]="searchParams.fromDate"
                                    tabindex="7" name="fromDate" [maxDate]="searchParams.toDate">
                                </app-date-control>
                            </div>
                            <div class="col-md-6">
                                <app-date-control label="To Received Date" [(ngModel)]="searchParams.toDate"
                                    tabindex="8" name="toDate" [minDate]="searchParams.fromDate">
                                </app-date-control>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-footer">
                <div class="ml-auto d-flex align-items-center">
                    <button mat-raised-button class="ml-3" color="accent" type="submit" (click)="doSearch()"
                        [parentId]="pageId" appAccess="BTNApplyViewSubmittedContribution">
                        <div class="d-flex align-items-center">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <div class="pl-2">Apply</div>
                        </div>
                    </button>
                    <button mat-button (click)="doClear()" [parentId]="pageId"
                        appAccess="BTNClearViewSubmittedContribution">
                        <div class="d-flex align-items-center">
                            <ion-icon name="close-circle-outline"></ion-icon>
                            <div class="pl-1">Clear</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>