$md-primary: (50 : #ece5e6,
    100 : #cfbfbf,
    200 : #af9595,
    300 : #8e6a6b,
    400 : #764a4b,
    500 : #5e2a2b,
    600 : #562526,
    700 : #4c1f20,
    800 : #42191a,
    900 : #310f10,
    A100 : #ff6e74,
    A200 : #ff3b42,
    A400 : #ff0811,
    A700 : #ee0008,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));
$md-accent: (50 : #e0eef3,
    100 : #b3d4e0,
    200 : #80b8cb,
    300 : #4d9cb6,
    400 : #2686a7,
    500 : #007197,
    600 : #00698f,
    700 : #005e84,
    800 : #00547a,
    900 : #004269,
    A100 : #98d2ff,
    A200 : #65bcff,
    A400 : #32a5ff,
    A700 : #199aff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));
$md-warn: (50 : #f8e3e4,
    100 : #edb9bb,
    200 : #e28b8e,
    300 : #d65c60,
    400 : #cd393e,
    500 : #c4161c,
    600 : #be1319,
    700 : #b61014,
    800 : #af0c11,
    900 : #a20609,
    A100 : #ffcdce,
    A200 : #ff9a9b,
    A400 : #ff6769,
    A700 : #ff4d50,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

// :root{
//     --primary: #5e2a2b;
//     --secondary: #007197;
//     --success: #1e988a;
//     --warning: #de761c;
//     --danger: #c4161c;
//     --blue: #0084b5;
//     --dark: #212121;
//     --border: #dddddd;
// }


$md-sbprimary: (50 : #e9f5f4,
    100 : #c7e6e4,
    200 : #a2d6d2,
    300 : #7dc6c0,
    400 : #61b9b3,
    500 : #45ada5,
    600 : #3ea69d,
    700 : #369c93,
    800 : #2e938a,
    900 : #1f8379,
    A100 : #bffff8,
    A200 : #8cfff2,
    A400 : #59ffed,
    A700 : #40ffea,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$md-sbaccent: (50 : #fef0e4,
    100 : #fcdabc,
    200 : #fac190,
    300 : #f8a863,
    400 : #f79541,
    500 : #f58220,
    600 : #f47a1c,
    700 : #f26f18,
    800 : #f06513,
    900 : #ee520b,
    A100 : #ffffff,
    A200 : #ffece5,
    A400 : #ffc6b2,
    A700 : #ffb498,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));