.btn-optional{
    height: 23px !important;
    line-height: 23px !important;
    border-radius: 3px;
}
.btn-optional2{
    height: 19px;
    line-height: 19px;
    border-radius: 3px; 
}
.btn-orange{
    background-color:#c94206; 
    color: white;
}
.badge-blue{
    background-color:#118fce; 
    color: white;
    padding: 0 8px;
}
.badge-green{
    background-color: #0e995d;
    color: white;
    padding: 0 8px;
}
.active-green{
    color: #00aa3d;
}
.fs15px{
    font-size: 15px
}
.fs14px{
    font-size: 14px
}
.fs12px{
    font-size: 12px
}
a{
    color: #52b3ac !important
}
.br20px{
    border-radius: 20px;
    font-size:13px;
}
.card{
    border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 8px;
}
.h245{
    height: 284px;
    overflow: auto;
}
.color-yellow{
    color: #dfb027;
}
.btn-darkgreen{
    background-color: #2d5e55;
    color: white;
}
li{
    background-color: #f4f4f4;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 5px;
    font-size: 13px;
}
.lh-23{
    line-height: 23px !important;
}
.rel-t7{
    position: relative;
    top: 7px;
}